<mat-toolbar color="primary" class="app-header">
  <div>
    <a mat-button routerLink="../" routerLinkActive="active"><mat-icon>arrow_back_ios</mat-icon>  Back</a></div>
</mat-toolbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box-candi">
        <mat-card-header>
            <mat-card-title>Create Candidate</mat-card-title>
          </mat-card-header>
        <mat-card-content>
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step>
        <ng-template matStepLabel>Personal Details</ng-template>
        <form class="example-form">
            <div fxLayout="row">
                <mat-form-field class="full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput [formControl] = "firstName" placeholder="First Name" >
                        <mat-error *ngIf="firstName.hasError('required')">
                        First Name is <strong>required</strong>
                        </mat-error>
                  </mat-form-field>
      
                  <mat-form-field style="margin-left: 30px;" class="full-width">
                      <mat-label>Last Name</mat-label>
                      <input matInput [formControl] = "lastName" placeholder="Last Name" >
                        <mat-error *ngIf="lastName.hasError('required')">
                        Last Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
            </div>
            
                
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input type="text" matInput [formControl] = "email" placeholder="ryan@demo.com" >
                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                    Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="email.hasError('required')">
                    Email is <strong>required</strong>
                    </mat-error>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            
            <mat-form-field class="chip-list">
                <mat-label>Skills</mat-label>
                <mat-chip-list #chipList aria-label="Skillset selection">
                  <mat-chip style="background-color:cyan;" *ngFor="let skill of skillChips" [selectable]="selectable"
                           [removable]="removable" (removed)="remove(skill)">
                    {{skill.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Add skill..."
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-icon matSuffix>build</mat-icon>
            </mat-form-field>
            
        </form>   
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Institution Details</ng-template>
      <form [formGroup]="secondFormGroup">
        <mat-form-field class="full-width">
            <mat-label>Institution</mat-label>
            <input type="text" matInput [formControl] = "inst" placeholder="Institution" [matAutocomplete]="auto1" >
            <mat-autocomplete (optionSelected)="onInstChanged($event)" #auto1="matAutocomplete">
                <mat-option *ngFor="let option of filteredInstOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            <mat-icon matSuffix>school</mat-icon>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
          <button mat-button (click) = "addInst()">Add Institution</button>
        </div>
          <div [@openClose]="instToggle ? 'open' : 'closed'">
            <mat-form-field class="full-width">
                <mat-label>Institution Name</mat-label>
                <input matInput [formControl] = "instName" placeholder="Institution Name" >
                    <mat-error *ngIf="instName.hasError('required')">
                    Institution Name is <strong>required</strong>
                    </mat-error>
              </mat-form-field>
            <div fxLayout="row">
                <mat-form-field class="full-width">
                    <mat-label>City</mat-label>
                    <input matInput [formControl] = "instCity" placeholder="City" >
                        <mat-error *ngIf="instCity.hasError('required')">
                        City is <strong>required</strong>
                        </mat-error>
                  </mat-form-field>
      
                  <mat-form-field style="margin-left: 30px;" class="full-width">
                      <mat-label>Pincode</mat-label>
                      <input matInput [formControl] = "instPincode" placeholder="Pincode" >
                        <mat-error *ngIf="instPincode.hasError('required')">
                        Pincode is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="instPincode.hasError('maxlength')">
                          Pincode should be <strong>6 digits</strong> only
                          </mat-error>
                    </mat-form-field>
            </div>
            <br>
            <button  mat-button (click) = "saveInst(stepper)">Save Institution</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Location Details</ng-template>
      <form [formGroup]="secondFormGroup">
        <mat-form-field class="full-width">
            <mat-label>Joining Location</mat-label>
            <input type="text" matInput [formControl] = "loco" placeholder="Location" [matAutocomplete]="auto2" >
            <mat-autocomplete (optionSelected)="onLocoChanged($event)" #auto2="matAutocomplete">
                <mat-option *ngFor="let option of filteredLocoOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            <mat-icon matSuffix>work</mat-icon>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
          <button mat-button (click) = "addLoco()">Add Location</button>
        </div>
          <div [@openClose]="locoToggle ? 'open' : 'closed'">
            <mat-form-field class="full-width">
                <mat-label>Location Name</mat-label>
                <input matInput [formControl] = "locoName" placeholder="Location Name" >
                    <mat-error *ngIf="locoName.hasError('required')">
                    Location Name is <strong>required</strong>
                    </mat-error>
              </mat-form-field>
            <div fxLayout="row">
                <mat-form-field class="full-width">
                    <mat-label>City</mat-label>
                    <input matInput [formControl] = "locoCity" placeholder="City" >
                        <mat-error *ngIf="locoCity.hasError('required')">
                        City is <strong>required</strong>
                        </mat-error>
                  </mat-form-field>
      
                  <mat-form-field style="margin-left: 30px;" class="full-width">
                      <mat-label>Pincode</mat-label>
                      <input matInput [formControl] = "locoPincode" placeholder="Pincode" >
                        <mat-error *ngIf="locoPincode.hasError('required')">
                        Pincode is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="locoPincode.hasError('maxlength')">
                          Pincode should be <strong>6 digits</strong> only
                          </mat-error>
                    </mat-form-field>
            </div>
            <br>
            <button  mat-button (click) = "saveLoco(stepper)">Save Location</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Save Candidate</ng-template>
      <div>
        <button mat-stroked-button color="accent" (click) = "saveCandidate()" class="btn-block">Add Candidate</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</mat-card-content>
    </mat-card>
</div>